header nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f0f0f0;
}

.my-masonry-grid {
  display: flex;
  margin-left: -5px; /* Adjusted gutter size for a cleaner look */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 5px; /* Matching gutter size */
  background-clip: padding-box;
}

/* Style for masonry grid items */
.my-masonry-grid_column > div {
  margin-bottom: 5px; /* Consistent spacing between items */
  border-radius: 5px; /* Rounded corners for a softer look */
  overflow: hidden; /* Ensures images fit neatly into the borders */
  transition: transform 0.3s ease-in-out; /* Smooth scaling effect on hover */
}

.my-masonry-grid_column > div:hover {
  transform: scale(1.05); /* Slight enlargement effect on hover */
}

/* Corrected style for images */
.my-masonry-grid_column img {
  width: 100%; /* Ensures images take full width of the column */
  height: auto; /* Maintains image aspect ratio */
  object-fit: cover; /* Ensures images cover the area nicely */
}

/* Global style adjustments for improved UI consistency */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

@font-face {
  font-family: 'Title';
  src: url(./fonts/Title.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SubTitle';
  src: url(./fonts/SubTitle.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HebTitle';
  src: url(./fonts/HebTitle.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EngTitle';
  src: url(./fonts/Love.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avigul';
  src: url(./fonts/avigul-regular-fm.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}